@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

html {
  height: 100%;
  width: 100%;
}
li {
  font-family: 'Sofia', cursive;
}
body {
  background-color: #daa0eb;
  padding:5%;
  font-size:50px;
}
img {
  float: right;
  width:50%;
  height:auto;
}
/* .pet{
  text-align: center;
} */